# =========================
# Entornos virtuales Python
# =========================
venv/
.venv/

# =========================
# Python
# =========================
__pycache__/

# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Variables de entorno
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# IDE / editores
# =========================
.vscode/
.idea/

# =========================
# Archivos temporales
# =========================
*.tmp
*.temp
*.swp

# =========================
# Archivos grandes / compilados
# =========================
*.pyd
*.dll
*.h5
*.zip
