# Antes de instalar, asegúrate de tener cmake instalado, desde la página oficial:
# https://cmake.org/download/
# O si usas Ubuntu/Debian:
# sudo apt-get install cmake
# O si usas macOS con Homebrew:
# brew install cmake 
# luego verifica si pip esta actualizado:
# pip install --upgrade pip
# Luego instala las dependencias con:
# pip install -r requirements.txt
# Dependencias necesarias para el proyecto de reconocimiento facial (FastAPI, face_recognition, PostgreSQL)


opencv-python>=4.11.0
Pillow>=11.3.0
psycopg2-binary>=2.9.9
numpy>=1.26.4
tf-keras>=2.15.0
deepface>=0.0.92
retina-face>=0.0.17
pandas>=2.1.4
fastapi>=0.109.2
uvicorn>=0.27.0
python-multipart>=0.0.6
